<style>
.style1{
display:block; clear:both; font:16px/22px Arial, Helvetica, sans-serif; font-weight:normal; padding:10px; color:#ffffff; text-align:center;
}

div.adm-db-content{
background:#f5f5f5;
-webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 1);
box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 1); 
text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1); 
}

textarea{
background:#1f5972; border:1px solid #ffffff; font-size:12px; color:#ffffff; font:Arial, Helvetica, sans-serif !important; padding:5px; resize:none;

        -webkit-box-shadow: inset 0px 0px 5px 1px rgba(10, 56, 76, 1);
        
        box-shadow: inset 0px 0px 5px 1px rgba(10, 56, 76, 1);
        
}

.button-primary{
		 display:block;
		 -webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor:pointer;
		color:#fff;
		background-image: linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -o-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -moz-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -ms-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -webkit-gradient(	linear,	left bottom, left top,
											color-stop(0.35, rgb(0,111,162)),
											color-stop(0.94, rgb(51,161,212)));

		-webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.8);
		-moz-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.8);
		box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.4); 
		border:1px solid #ffffff;
		padding:3px;
		margin:0 auto; 
		 }
		 
		 
.button-primary a{
		 display:block;
		 -webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor:pointer;
		color:#fff;
		font:12px arial;
		padding:2px;
		font-weight:bold;
		text-align:center;
		background-image: linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -o-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -moz-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -ms-linear-gradient(bottom, rgb(0,111,162) 35%, rgb(51,161,212) 94%);
		background-image: -webkit-gradient(	linear,	left bottom, left top,
											color-stop(0.35, rgb(0,111,162)),
											color-stop(0.94, rgb(51,161,212)));

		-webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.8);
		-moz-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.8);
		box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.4); 
		border:1px solid #ffffff;
		text-decoration:none;
		padding:3px;
		 } 
		 
		 div.adm-db-head{
		 background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #96cadf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#96cadf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#96cadf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#96cadf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#96cadf 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#96cadf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#96cadf',GradientType=0 ); /* IE6-9 */
border:1px solid #ffffff;
height:40px;
line-height:40px;
vertical-align:middle;
text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1); 
		 }

</style>


<form id="frmWCode" name="frmWCode" action="" method="post">

<div class="style1" style="font-weight:bold; color:#1f5972; padding-bottom:0px;">Provide Widget Code:</div>
<p style="text-align:center;">__save_message__
<br /><strong>For Example</strong> <br /> &lt;iframe src="https://apps.banckle.com/meeting/api/widget?wid=c2cc9bb3372123ef01372afbe4210049" style="width:320px;height:430px;" frameborder="0"&lt;/ iframe&gt;</p>
<div class="style1"><textarea name="banckle_bom_widget" id="banckle_bom_widget" rows="4" cols="40">__banckle_bom_widget__</textarea></div>
<div class="style1"><input type="submit" name="save_wcode" value="Save Widget Code" / class="button-primary" style="text-align:center"></div>

</form>